<div class="p-2 bg-dark-400 border-t border-dark-100 flex justify-between">
    <span class="text-proxblue text-sm">Logs</span>
    <div class="flex items-center">
        <a href="/shot/logout" class="text-gray-400 hover:text-gray-200 text-sm mr-4">Logout</a>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="text-gray-400 hover:text-gray-200">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="12" y1="16" x2="12" y2="12"></line>
            <line x1="12" y1="8" x2="12.01" y2="8"></line>
        </svg>
    </div>
</div>