<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Shot Dashboard</title>
<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    dark: {
                        '100': '#444444',
                        '200': '#3a3a3a',
                        '300': '#333333',
                        '400': '#2c2c2c',
                        '500': '#1e1e1e',
                    },
                    proxblue: '#42a5f5',
                    proxorange: '#ff6d00',
                }
            }
        }
    }
</script>